In [ ]:
import pandas as pd

#1

In [ ]:
points = {"x": [-1,2,3,4,-5,6,7,-8,9,-10,11,12,-13,14,-15] , "y": [15,-14,13,-12,11,-10,9,-8,-7,6,5,4,3,2,-1]}
df1 = pd.DataFrame(points)
df1

     x   y
0   -1  15
1    2 -14
2    3  13
3    4 -12
4   -5  11
5    6 -10
6    7   9
7   -8  -8
8    9  -7
9  -10   6
10  11   5
11  12   4
12 -13   3
13  14   2
14 -15  -1

#2

In [ ]:
df1[df1["x"]>0]

     x   y
1    2 -14
2    3  13
3    4 -12
5    6 -10
6    7   9
8    9  -7
10  11   5
11  12   4
13  14   2

#3

In [ ]:
df1.query("y < 0")

     x   y
1    2 -14
3    4 -12
5    6 -10
7   -8  -8
8    9  -7
14 -15  -1

#4

In [ ]:
df1.query("x > 0 and y > 0")

     x   y
2    3  13
6    7   9
10  11   5
11  12   4
13  14   2

#5

In [ ]:
for row in df1.itertuples():
    print("El punto ({} , {}) {}pertenece al primer cuadrante.".format(row[1],row[2], "" if (row[1]>=0 and row[2]>=0) else "no " ))

El punto (-1 , 15) no pertenece al primer cuadrante.
El punto (2 , -14) no pertenece al primer cuadrante.
El punto (3 , 13) pertenece al primer cuadrante.
El punto (4 , -12) no pertenece al primer cuadrante.
El punto (-5 , 11) no pertenece al primer cuadrante.
El punto (6 , -10) no pertenece al primer cuadrante.
El punto (7 , 9) pertenece al primer cuadrante.
El punto (-8 , -8) no pertenece al primer cuadrante.
El punto (9 , -7) no pertenece al primer cuadrante.
El punto (-10 , 6) no pertenece al primer cuadrante.
El punto (11 , 5) pertenece al primer cuadrante.
El punto (12 , 4) pertenece al primer cuadrante.
El punto (-13 , 3) no pertenece al primer cuadrante.
El punto (14 , 2) pertenece al primer cuadrante.
El punto (-15 , -1) no pertenece al primer cuadrante.

#6

In [ ]:
def Num_Voc(s):
    """
    Esta función regresa  el numero de vocales 

    arg => s = palabra dad
    return => El numero de vocales
    """

    s=s.lower()
    ls=s.split(" ")
    sf=ls[0]
    numvoc=sf.count("a")+sf.count("e")+sf.count("i")+sf.count("o")+sf.count("u")

    return numvoc

Num_Cons= lambda s: len(s) - Num_Voc(s)

wordslist= ["euro", 'diez', 'algas', 'broma', 'cicuta', 'fatiga', 'nachos', 'jadeos', 'hazañas', 'boutique']

diccw={ "words" : wordslist,
        "length" : list(map(len,wordslist)),
         "vowels" : list(map(Num_Voc,wordslist)),
        "consonats" : list(map(Num_Cons,wordslist))}

words = pd.DataFrame(diccw)
words

      words  length  vowels  consonats
0      euro       4       3          1
1      diez       4       2          2
2     algas       5       2          3
3     broma       5       2          3
4    cicuta       6       3          3
5    fatiga       6       3          3
6    nachos       6       2          4
7    jadeos       6       3          3
8   hazañas       7       3          4
9  boutique       8       5          3

#7

In [ ]:
for row in words.itertuples():
    print("La palabra {} tiene {} letras, de las cuales {} son son vocales y {} son consonantes.".format(row["words"],row[2],row[3],row[4]))

#8

In [ ]:
words.query("vowels == consonats")

    words  length  vowels  consonats
1    diez       4       2          2
4  cicuta       6       3          3
5  fatiga       6       3          3
7  jadeos       6       3          3

#9

In [ ]:
words.sort_values(by =["length"], 
                      axis=0, 
                      ascending=False, 
                      inplace=False, 
                      kind='quicksort', 
                      na_position='last', 
                      ignore_index=False
)

      words  length  vowels  consonats
9  boutique       8       5          3
8   hazañas       7       3          4
4    cicuta       6       3          3
5    fatiga       6       3          3
6    nachos       6       2          4
7    jadeos       6       3          3
2     algas       5       2          3
3     broma       5       2          3
0      euro       4       3          1
1      diez       4       2          2

In [ ]:
words.sort_values(by =["length"], 
                      axis=0, 
                      ascending=False, 
                      inplace=False, 
                      kind='quicksort', 
                      na_position='first', 
                      ignore_index=False
)

      words  length  vowels  consonats
9  boutique       8       5          3
8   hazañas       7       3          4
4    cicuta       6       3          3
5    fatiga       6       3          3
6    nachos       6       2          4
7    jadeos       6       3          3
2     algas       5       2          3
3     broma       5       2          3
0      euro       4       3          1
1      diez       4       2          2

#10

In [ ]:

lvocales = words["vowels"].tolist()
sorted(lvocales, reverse=True)

[5, 3, 3, 3, 3, 3, 2, 2, 2, 2]